################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#*.json
*.cache
*.vspscc
*.vssscc
*.user
*.sln 
.vs/
obj/
bin/
wwwroot/

Properties/PublishProfiles/

